* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f1f1f1;
  font-size: 14px;
  line-height: 1.4;
}

.select-box {
  color: #555;
  position: relative;
  margin: 0.5rem 0;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.2);
}

.select-box:focus {
  outline: 0;
  border: 1px solid #8bc34a;
}

.select-box > .options {
  background: #fff;
  position: absolute;
  z-index: 2;
  border: 1px solid #8bc34a;
  border-radius: 2px;
  top: 50px;
  left: 0;
  height: 0;
  visibility: hidden;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.2);
}

.select-box.options-visible > .options {
  height: auto;
  visibility: visible;
  overflow: auto;
  max-height: 200px;
}

.option {
  padding: 0 1rem;
  border-bottom: #eee 1px solid;
}

.option:hover {
  background: #f5f5f5;
}

.option:active {
  background: #8bc34a;
}

.option.selected {
  background: #eee;
}

.labelContainer {
  padding: 0 2rem 0 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.label {
  font-size: inherit;
  background: transparent;
  border: 0;
}

.icon {
  color: #999;
  position: absolute;
  line-height: 1;
  font-size: 1.5rem;
  right: 1rem;
  top: 10px;
}
